/* --- GREEN BUTTON --- */
.btn-success {
  text-shadow: none;
  background-color: #2ecc71;
  background-image: none;
  border: none;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #2bbe69;
}

// IE Color Fix
.btn-success:active,
.btn-success.active {
  background-color: #25a25a \9;
}

/* --- BLUE BUTTON --- */

.btn-info {
  text-shadow: none;
  background-color: #2980b9;
  background-image: none;
  border: none;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #236d9d;
}

// IE Color Fix
.btn-info:active,
.btn-info.active {
  background-color: #25a25a \9;
}

/* --- RED BUTTON --- */

.btn-danger {
  text-shadow: none;
  background-color: #E74C3C;
  background-image: none;
  border: none;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #C0392B;
}

// IE Color Fix
.btn-danger:active,
.btn-danger.active {
  background-color: #C0392B \9;
}

/* --- REQUESTS BADGE --- */
.badge-holder{
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  padding-left: 5px;
}

.requests-badge{
  background-color: #E74C3C;
  padding-left: 6px;
  padding-right: 6px;
}

.requests-badge:hover{
  background-color: #C0392B;
}


